h1 {
    margin: 10px 0px;
}

header {
    z-index: 100;
    position: fixed;
    top: 0%;
    opacity: 0.99;
}

main {
    padding-top: 150px;
    min-height: 100vh;
    padding-bottom: 50px;
}

@media (max-width:576px) {
    main {
        padding-top: 200px;
    }
}

a {
    text-decoration: none;
}
